<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Tailoredmail_Report>
            <version>0.1.0</version>
        </Tailoredmail_Report>
    </modules>
    <global>
        <models>
            <report>
                <class>Tailoredmail_Report_Model</class>
            </report>
        </models>
    </global>
</config>